* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v2_399 {
  width: 100%;
  height: 745px;
  background: url("../images/v2_399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_400 {
  width: 440px;
  color: rgba(18,13,38,1);
  position: absolute;
  top: 183px;
  left: 80px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v2_401 {
  width: 550px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 292px;
  left: 80px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2_402 {
  width: 115px;
  height: 116px;
  background: url("../images/v2_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 583px;
  left: 695px;
  overflow: hidden;
}
.v2_403 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2_404 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-radius: 50%;
}
.v2_405 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 0px;
  border-radius: 50%;
}
.v2_406 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 0px;
  border-radius: 50%;
}
.v2_407 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 0px;
  border-radius: 50%;
}
.v2_408 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  border-radius: 50%;
}
.v2_409 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  border-radius: 50%;
}
.v2_410 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 26px;
  border-radius: 50%;
}
.v2_411 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 26px;
  border-radius: 50%;
}
.v2_412 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 26px;
  border-radius: 50%;
}
.v2_413 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 26px;
  border-radius: 50%;
}
.v2_414 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 26px;
  border-radius: 50%;
}
.v2_415 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  border-radius: 50%;
}
.v2_416 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 53px;
  border-radius: 50%;
}
.v2_417 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 53px;
  border-radius: 50%;
}
.v2_418 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 53px;
  border-radius: 50%;
}
.v2_419 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 53px;
  border-radius: 50%;
}
.v2_420 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 53px;
  border-radius: 50%;
}
.v2_421 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border-radius: 50%;
}
.v2_422 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 80px;
  border-radius: 50%;
}
.v2_423 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 80px;
  border-radius: 50%;
}
.v2_424 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 80px;
  border-radius: 50%;
}
.v2_425 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 80px;
  border-radius: 50%;
}
.v2_426 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 80px;
  border-radius: 50%;
}
.v2_427 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  border-radius: 50%;
}
.v2_428 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 107px;
  border-radius: 50%;
}
.v2_429 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 107px;
  border-radius: 50%;
}
.v2_430 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 107px;
  border-radius: 50%;
}
.v2_431 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 107px;
  border-radius: 50%;
}
.v2_432 {
  width: 7px;
  height: 7px;
  background: rgba(255,224,0,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 107px;
  border-radius: 50%;
}
.v2_433 {
  width: 622px;
  height: 622px;
  background: url("../images/v2_433.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 740px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v2_435 {
  width: 449px;
  height: 412px;
  background: rgba(255,224,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 280px;
}
