/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.main-wrapper {
  background-color: white;
}

.v2_399 {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}

#about-us-section {
  padding-top: 120px; /* Adjust if needed */
}

.v2_400 {
  display: block;
  word-wrap: break-word;
  padding-left: 10%;
}

.v2_401 {
  display: block;
  margin-bottom: 8%;
}

.v2_402 {
  display: grid;
  place-items: center;
}

.v2_433 {
  width: clamp(300px, 50vw, 622px);
  height: clamp(300px, 50vw, 622px);
  /* background: url("../images/v2_433.png") center center / cover no-repeat; */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.v2_435 {
  stroke-width: 5px;
  stroke: var(--lnu-yellow);
  width: 90%;
  height: 6px;
}

.v2_401 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(0.9rem, calc(1.8vw + 0.4rem), 1.5rem);
  color: var(--lnu-black);
  flex-direction: column;
  white-space: normal;
  max-width: 90%;
}

.v2_433 {
  max-width: 350px;
  height: auto;
}

@media (max-width: 768px) {
  .v2_399 {
      display: block;  
  }
}

@media (max-width: 400px) {
  .v2_433 {
      margin-top: 20px; 
      max-width: 80%;
  }
}
