:root {
    --lnu-yellow: #ffe000;
    --lnu-gray: #333333;
}

footer {
    background-color: var(--lnu-yellow);
    color: var(--lnu-gray)
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3em;
    max-width: 40em; /* ensures the links don't take up the entire width of the page */
}

.footer-link {
    color: var(--lnu-gray);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0.5em;
    display: block;
}

.footer-link:hover {
    text-decoration: underline;
}

.column {
    flex: 1; /* makes sure columns take up the same space */
    margin-right: 4em;
}

.footer-link-header {
    margin-bottom: 0.75em;
}
