.project-wrapper{
    background-color: rgb(255, 224, 0, 0.2);
}

.project-list {
    /* width: max-content; */
    padding: 20px;
    margin: 0 auto;
}

.project-entry{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.project-img {
    border-radius: 10px;
    float: left;
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-right: 30px; */
}

.project-text-wrapper {
    padding: 20px;
    font-family: var(--font-family);
}

.project-header {
    font-size: 25px;
}

.p-description {
    font-size: 15px;
    max-width: 300px;
    max-height: 70px;
    overflow: hidden;
}

.date {
    color: color-mix(in srgb, var(--lnu-black) 55%, transparent);
}

.arrow-button {
    width: 40px;
    height: auto;
}


