.project-wrapper{
    background-color: rgb(255, 224, 0, 0.2);
}

.project-list {
    /* width: max-content; */
    padding: 20px;
    margin: 0 auto;
}

.project-entry{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.project-img1, .project-img2, .project-img3{
    border-radius: 10px;
    float: left;
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-right: 30px; */
}

.project-text-wrapper {
    padding: 20px;
    font-family: var(--font-family);
}

.project-header1, .project-header2, .project-header3{
    font-size: 25px;
}

.p-description1, .p-description2, .p-description3{
    font-size: 15px;
    max-width: 300px;
    max-height: 70px;
    overflow: hidden;
}

.date {
    color: color-mix(in srgb, var(--lnu-black) 55%, transparent);
}

.arrow-button {
    width: 40px;
    height: auto;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-bottom: 2%;
}

.p-description-carousel {
    text-align: center;
}

.project-header-carousel {
    text-align: center;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-image-right, .project-image-left {
    width: 60%;
}

.project-left, .project-right {
    text-align: center;
}

.black-line {
    border: none; /* Entfernt den Standardrand */
    height: 6px; /* Dicke der Linie */
    background-color: black; /* Farbe der Linie */
    width: 90%;
}