.main-wrapper {
    margin-top: 95px;
    background-color: white;
}

.headingContainer {
    display: block; 
    margin-bottom: 8%;
}

.heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(3.8rem, calc(8vw + 1rem), 5.5rem);
    line-height: 94%;
    letter-spacing: 0.08em;
    color: var(--lnu-black);
    margin-bottom: -10px;
    margin-top: 0;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.explanationText {
    /* Text setting */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.1rem, calc(1.1vw + 0.6rem), 1.6rem);
    color: var(--lnu-black);
    word-wrap: break-word;
    
    /* Div settings */
    max-width: 90%;
    display: flex;
    flex-basis: 50%;
    padding-bottom: 30px;

    /* Background design settings */
    background-image: url('/assets/aboutPage/blob.svg');
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 230px;
}

.imageContainer {
    background-image: url('/assets/aboutPage/dots_design.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 30px;
    padding-left: 44px;
}

.responsiveImage {
    /* 350px was originally, now it is relative to the screen size */
    max-width: clamp(12rem, calc(12vw + 1rem), 16rem); 
    height: auto;
    flex-basis: 50%;
  }
 
  @media (max-width: 750px) {
    .mainContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .explanationText {
        text-align: center;
        flex-basis: 100%;
        max-width: 80%;
        background-image: none;
        padding-bottom: 0px;
        /* There was too small place for it, so it looked out of place */
        /* background-position: 0% 20%;
        background-size: 150px; */
    }

    .responsiveImage {
        flex-basis: 100%;
        margin-left: 25px; /* bring the image back to the center */
    }
    .imageContainer {
        margin-top: 0;
        background-position: top right;
        padding-top: 15px;
        padding-right: 15px;
        margin-top: 10px;
        margin-right: 10px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
