.main-wrapper {
    margin-top: 95px;
    background-color: white;
}

.headingContainer {
    display: block; 
    margin-bottom: 8%;
}

.heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(3.8rem, calc(8vw + 1rem), 5.5rem);
    line-height: 94%;
    letter-spacing: 0.08em;
    color: var(--lnu-black);
    margin-bottom: -10px;
    margin-top: 0;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.explanationText {
    /* Text setting */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(1.1rem, calc(1.1vw + 0.6rem), 1.6rem);
    color: var(--lnu-black);
    word-wrap: break-word;
    
    /* Div settings */
    max-width: 90%;
    display: flex;
    flex-basis: 50%;
}

.responsiveImage {
    /* 350px was originally, now it is relative to the screen size */
    max-width: clamp(12rem, calc(12vw + 1rem), 16rem); 
    height: auto;
    flex-basis: 50%;
  }
 
  @media (max-width: 750px) {
    .mainContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .explanationText {
        text-align: center;
        flex-basis: 100%;
        max-width: 80%;
    }

    .responsiveImage {
        flex-basis: 100%;
    }
}
