.events-wrapper {
    background-color: color-mix(in srgb, var(--lnu-yellow) 10%, transparent);
    font-family: var(--font-family);
    padding-bottom: 20px;
}
.event_section_title {
    display: block;
    clear: both;
    font-size: 42px;
    text-align: center;
}
.event_section_title h2 {
    margin: 0;
    padding: 20px;
    padding-top: 40px;
}
.event_section_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}
.event_link {
    /* disableing all the text formatting of the link */
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.event_block {
    max-width: 250px;
    height: 475px;
    background-color: var(--lnu-background-shade);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    /* nice little hovering animation */
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.event_block:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.event_img {
    width: 225px;
    height: 225px;
    border-radius: 7.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.event_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: clip;
    text-overflow: ellipsis;
}

.event_title {
    font-size: 18px;
    text-wrap: nowrap;
    font-weight: bold;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 2%;
}

.event_description {
    font-size: 14px;
    margin: 0;
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
}

.event_date {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: var(--lnu-gray);
    margin-top: auto;
    margin-bottom: 2%;
}


@media (max-width: 450px) {
    .event_section_title {
        font-size: 32px;
    }

    .event_section_title h2 {
        margin-bottom: 20px;
    }
}