.main-wrapper {
    background-color: white;
}


.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 10%;
    padding: 50px 0;
}

.textContainer {
    display: block;
    word-wrap: break-word;
    padding-left: 10%;
}

.headingContainer {
    display: block; 
    margin-bottom: 8%;
}

.pictureContainer {
    display: grid;
    place-items: center;
}

.heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(3.8rem, calc(8vw + 1rem), 5.5rem);
    line-height: 94%;
    letter-spacing: 0.08em;
    color: var(--lnu-black);
    margin-bottom: -10px;
    margin-top: 0;
} 

.line {
    stroke-width: 5px;
    stroke: var(--lnu-yellow);
    width: 90%;
    height: 6px;
}

.explanationText {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(0.9rem, calc(1.8vw + 0.4rem), 1.5rem);
    color: var(--lnu-black);
    flex-direction: column;
    white-space: normal;
    max-width: 90%;
}

.responsiveImage {
    max-width: 350px;
    height: auto;
  }
 
@media (max-width: 768px) {
    .mainContainer {
        display: block;  
    }
}


@media (max-width: 400px) {
    .responsiveImage {
        margin-top: 20px; 
        max-width: 80%;
    }
}