* {
    box-sizing: border-box;
}
.event_section {
    background-color: rgba(255, 224, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.event_section_title {
    width: 100%;
    display: block;
    clear: both;
    font-size: 42px;
    text-align: center;
}
.event_section_content {
    display: flex;
    
}
.event_img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.event_block {
    width: 210px;
    background-color: white;
    border-radius: 4%;
    padding-top: 10px;
    margin: auto;
    width: 50%;
    border: 3px solid #FFE000;
    padding: 10px;
}
.event_title {
    font-size: 18px;
}
.event_description {
    font-size: 14px;
    
}
.event_date {
    font-size: 12px;
}
