/* All pages will have these, so style can import all of these */
@import url(header.css);
@import url(footer.css);

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    --lnu-yellow: rgb(255, 224, 0);
    --lnu-gray: #333333;
    --lnu-black: #120d26;
    --lnu-background-shade: #f7f7f7;
    --font-family: "Poppins", sans-serif;
}

.centered {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}