* {
    box-sizing: border-box;
}
.event_section {
    background-color: rgba(255, 224, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.event_section_title {
    width: 100%;
    display: block;
    clear: both;
    font-size: 42px;
    text-align: center;
}
.event_section_content {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 686px;
}
.event_link {
    /* disableing all the text formatting of the link */
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.event_block {
    width: 250px;
    height: 500px;
    background-color: white;
     border-radius: 4%;  /*TODO: this should be better rounded */
    padding: 10px;
    display: flex;
    flex-direction: column;

    /* nice little hovering animation */
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.event_block:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
.event_img {
    width: 200px;
    height: 200px;
    border-radius: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    object-fit: cover;
    
}
.event_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.event_title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    /* margin-bottom: auto; */
}
.event_description {
    font-size: 14px;
    margin-right: 15px;
    font-style: normal;
    font-weight:400;
    /* text-align: justify; this looks just awful */
    margin-bottom: auto;
    
}
.event_date {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: grey;
    margin-top: auto;
}
