.project-wrapper {
    background-color: white;
    padding-top: 100px;
}

.project-intro {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    margin: 0 auto;
    gap: 60px;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    background-size: 375px;
}

.text-container {
    width: 50%;
}

.image-container {
    width: 50%; 
    display: flex;
    justify-content: center;
}

.project-name {
    font-size: xx-large;
    font-weight: bolder;
    display: block;
    word-wrap: break-word;
    margin-bottom: 0;
}

.project-overview {
    color: var(--lnu-black);
    flex-direction: column;
    max-width: 90%;
    display: block;
    margin-top: 0;
    margin-bottom: 100px;
}

.project-image {
    width: 350px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
}