

.body {
    background-color: rgb(255, 224, 0, 0.2);
}

.header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.title-desc {
    text-align: center;
    overflow-wrap: break-word;
}


.project-list {
    /* width: max-content; */
    padding: 20px;
    margin: 0 auto;
}

.project-entry{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.project-img1, .project-img2, .project-img3{
    border-radius: 10px;
    float: left;
    max-width: 300px;
    width: 100%;
    height: auto;
    /* margin-right: 30px; */
}

.project-text-wrapper {
    padding: 20px;
    font-family: var(--font-family);
}

.project-header1, .project-header2, .project-header3{
    font-size: 25px;
}

.p-description1, .p-description2, .p-description3{
    font-size: 15px;
    max-width: 300px;
    max-height: 70px;
    overflow: hidden;
}

.date {
    color: color-mix(in srgb, var(--lnu-black) 55%, transparent);
}

.arrow-button {
    width: 40px;
    height: auto;
}

/*Css for carousel */
.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-bottom: 2%;
}

.carousel-shown-project {
    display: grid;
    place-items: center;
    gap: 10px; 
}

.project-img-carousel {
    max-width: 90%;
    height: auto;
    justify-self: center;
    align-self: center;    
}

.p-description-carousel {
    text-align: center;
}

.project-header-carousel {
    text-align: center;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-image-right, .project-image-left {
    width: 60%;
}

.project-left, .project-right {
    text-align: center;
}

.black-line {
    border: none; /* Entfernt den Standardrand */
    height: 6px; /* Dicke der Linie */
    background-color: black; /* Farbe der Linie */
    width: 90%;
}

.navigation {
    gap: 2%;
}

@media (max-width: 768px) {
    .carousel {
        display: block; 
        text-align: center;
    }

    .project-image-right, .project-image-left, .project-left, .project-right, .project-header-right, .project-header-left {
        display: none;
    }

    .project-img-carousel {
        width: 70%
    }
}