.research-date {
  color: var(--lnu-gray);
  background-color: color-mix(in srgb, var(--lnu-yellow) 30%, white);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.95em;
  margin-bottom: 8px;
  display: inline-block;
}
.research-img-cont {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.research-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.research-entry {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-bottom: 32px;
}
