


:root {
    --lnu-yellow: #ffe000;
    --lnu-black: #120d26;
    --lnu-background-shade: #f7f7f7;
    --font-family: "Poppins", sans-serif;
}


* {
    box-sizing: border-box;
}



.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
    place-items: center;
    gap: 10%;

}

.textContainer {
    display: block;
    word-wrap: break-word;
    padding-left: 10%;
}

.headingContainer {
    display: block; 
    margin-bottom: 8%;
}

.pictureContainer {
    display: grid;
    place-items: center;
}

.heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8vw;
    line-height: 94%;
    letter-spacing: 0.08em;
    color: var(--lnu-black);
    margin-bottom: -10px;
} 

.line {
    stroke-width: 5px;
    stroke: var(--lnu-yellow);
    width: 90%;
    height: 6px;
}

.explanationText {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(11px, 2vw, 150px);
    color: var(--lnu-black);
    flex-direction: column;
    white-space: normal;
    max-width: 90%;
}

.responsiveImage {
    max-width: 80%;
    height: auto;
  }
 
@media (max-width: 768px) {
.mainContainer {
    display: block;  
}

.responsiveImage {
    margin-top: 20px; 
    max-width: 50%;
}
}


@media (max-width: 400px) {
    .responsiveImage {
        margin-top: 20px; 
        max-width: 80%;
    }
}