.black-line {
    border: none; /* Entfernt den Standardrand */
    height: 6px; /* Dicke der Linie */
    background-color: black; /* Farbe der Linie */
    width: 70%;
}

.header {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.title-desc {
    text-align: center;
    overflow-wrap: break-word;
}

.slideshow-container {   
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 300px;
}

.carousel-container {
    background-color: aquamarine;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    transition: transform 250ms ease-in;
}

.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.slide img {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.carousel-button--left {
    left: -25px;
}

.carousel-button--right {
    right: -25px;
}

.item-img-container {
    position: relative;
    max-width: 200px;
    height: 100%;

}
.carousel-navigator {
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 5px;
}
.carousel-indicator.current-slide {
    background-color: rgba(0, 0, 0, 0.75);
}

/* ---------------------------------- */
/*  PROJECT LIST STYLE */
/* ---------------------------------- */
.project-wrapper{
    background-color: rgb(255, 224, 0, 0.1);
}

.project-list {
    padding: 20px;
    margin: 0 auto;
}

.project-container {
    padding: 20px;
    margin: 0 auto;
}

.project-entry{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: auto;
}

.project-img {
    border-radius: 10px;
    float: left;
    object-fit: cover;
}

.project-img-cont {
    padding: 10px;
    max-width: 300px;
    /* margin: 0 auto; */
}

.project-text-wrapper {
    padding: 10px;
    font-family: var(--font-family);
}

.project-header {
    font-size: 20px;
}

.p-description {
    font-size: 15px;
    max-width: 300px;
    max-height: 70px;
    overflow: hidden;
}

.date {
    font-size: 15px;
    color: color-mix(in srgb, var(--lnu-black) 55%, transparent);
}

.arrow-button {
    width: 40px;
    height: auto;
}



