.about-wrapper {
    background-color: white;
}

.about_us_section {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  gap: 60px;
  margin: 0 50px;
}

.text-container {
  width: 40%;
}

.about_us_title {
  font-size: xx-large;
  font-weight: bolder;
  display: block;
  word-wrap: break-word;
  text-wrap: nowrap;
  margin-bottom: 0;
}

.about_us_description {
  color: var(--lnu-black);
  flex-direction: column;
  max-width: 90%;
  display: block;
  margin-top: 0;
  margin-bottom: 100px;
}

.about_us_team_image {
  width: 400px;
  margin: 50px 0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
}

@media (max-width: 850px) {
  .about_us_section {
    flex-direction: column;
    gap: 0;
  }

  .about_us_description {
    margin-bottom: 30px;
  }

  .text-container {
    width: 100%;
  }

  .about_us_team_image {
    margin-top: 0;
    width: 300px;
  }
}

@media (max-width: 400px) {
  .about_us_section {
    margin: 0 25px;
  }

  .about_us_team_image {
      width: 200px;
  }
}
